{% extends 'taskmanager/base.html' %} {% load static %} {% block content %}

<script>

  function counting() {
    let x = document.getElementById("task").value;
    
    let counts = setInterval(updated);
    let stuff = 0;
    function updated() {
      let count = document.getElementById("all_task");
      count.innerHTML = ++stuff;
      if (stuff === Number(x)) {
        clearInterval(counts);
      }
    }
    let y = document.getElementById("staff").value;
    let counts2 = setInterval(updated1);
    let task = 0;
    function updated1() {
      let count2 = document.getElementById("all_staff");
      count2.innerHTML = ++task;
      if (task === Number(y)) {
        clearInterval(counts2);
      }
    }
    let z = document.getElementById("dept").value;
    let counts3 = setInterval(updated3);
    let dept = 0;
    function updated3() {
      let count3 = document.getElementById("all_dept");
      count3.innerHTML = ++dept;
      if (dept === Number(z)) {
        clearInterval(counts3);
      }
    }

  }

</script>
<input type="number"id="staff" hidden value="{{task}}">
<input type="number" id="task" hidden value="{{staff}}">
<input type="number" id="dept" hidden value="{{dept}}">

<div class="homepage p-5 ">
  <div class="row">
    {% if user.is_authenticated %}
      <div class="col-6 p-2 text-center">
        <h1 class="fw-bold mb-0 pb-0 mt-5">Task Manager</h1>
        <small class="text-muted p-0 m-0 ">An overall app to manage your workload in organization</small>
        <div class=" mt-5 ">
          <p class="mt-5 text-muted">Get more information about us</p>
          <div class=" mt-5 p-1 d-flex justify-content-center">
            <a class="nav-link" href="" data-bs-toggle="collapse" data-bs-target="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <p class="rounded-pill text-white text-center bg-maroon px-5 py-2 shadow"> learn more</p>
            </a>
          </div>
          <div  class="mt-5">
            <div class="mx-3 d-flex justify-content-center">
              <div class="border border-secondary text-dark border-opacity-50 px-5 py-3 fs-3 shadow mx-2">
              <span class="d-block" id="all_staff"></span>
              <small class="fs-6"><i class="fa-solid fa-user-group"></i>&nbsp;Stuff Members</small>
              </div>
              <div class="border border-secondary text-dark border-opacity-50 px-5 py-3 fs-3 shadow mx-2">
                <span class="d-block" id="all_task"></span>
                <small class="fs-6"><i class="fa-solid fa-briefcase"></i>&nbsp;Tasks</small>
              </div>
              <div class="border border-secondary text-dark border-opacity-50 px-5 py-3 fs-3 shadow mx-2">
                <span class="d-block" id="all_dept"></span>
                <small class="fs-6"><i class="fa-solid fa-puzzle-piece"></i> &nbsp;Departments</small>
              </div>
            </div>

            
          </div>
        </div>
      </div> 
    {%else%}
    <div class="col-6 text-center p-5 ">
      <div class="m-5 px-5">
        <h1 class="fw-bold mb-0 pb-0 mt-5">Task Manager</h1>
        <small class="text-muted d-block  p-0 m-0">An overall app to manage your workload in organization</small>
        <small class="text-muted d-block text-start"><i class="fa-solid fa-chevron-right text-danger"></i>&nbsp;&nbsp;Efficient</small>
        <small class="text-muted d-block text-start p-0 m-0"><i class="fa-solid fa-chevron-right text-danger"></i>&nbsp;&nbsp;Reliable</small>
        <small class="text-muted d-block text-start p-0 m-0"><i class="fa-solid fa-chevron-right text-danger"></i>&nbsp;&nbsp;User Friendly</small>


        <div class=" mt p-5 ">
          <p class="mt-5 text-muted">Take your time and start...</p>
          <a href="{% url 'taskmanager:login' %}" class="nav-link bg-maroon border shadow py-2 px-5 rounded-pill text-white"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;&nbsp;SIGN IN</a>
          <p class="my-3">or</p>
          <a href="{% url 'taskmanager:signup' %}" class="nav-link bg-maroon border shadow py-2 px-5 rounded-pill text-white"><i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;SIGN UP
          </a>
        </div>
        </div>
      </div>
    {% endif %}
    <div class="col-6">
      <img src="{% static 'media/verified.png' %}" alt="" />
    </div>
  </div>
  <!-- about page for extra information about task manager -->
  
  <div class="about p-4 collapse text-center border rounded shadow" id="collapseExample">

    <h1 class="fw-bold">About</h1>
    <p class="text-start">
      <span class="fw-bold">Lorem Ipsum</span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
      recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      <p class="text-start">
        <span class="fw-bold d-block">Why do we use it ?</span>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
        layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
        'Content here, content here', making it look like readable English. Many desktop publishing packages and web page
        editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
        still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
        (injected humour and the like).
        
    </p>
    <p class="text-primary"><small>you may join us on social media also </small></p>
    <div class="text-center">
      <small class="font-size">Join us on social media</small><br>
      <span><i class="fa-brands fa-facebook text-primary social-media mx-3 "></i></span>
      <span class="text-info social-media me-3"><i class="fa-brands fa-square-x-twitter "></i></span>
      <span class="text-danger social-media me-3"><i class="fa-brands fa-youtube"></i></span>
      <span class="text-dark social-media me-3"><i class="fa-brands fa-instagram"></i></span>
      <span class="text-danger social-media"><i class="fa-solid fa-envelope"></i></span>
    </div>
    <div class="text-start mt-5 mx-3">
      <img src="{% static 'media/logo.png'%}" alt="">
      <p class="text-muted p-0 m-0"><i class="fa-solid fa-location-dot text-danger"></i> House no. 12, Street No.3, Qala fatahullah, Kabul - 12657</p>
      <p class="text-muted p-0 m-0"><i class="fa-solid fa-phone text-danger"></i>  (+93) (0) 74 862 1879</p>
      <p class="text-muted p-0 m-0"><i class="fa-solid fa-at text-danger"></i>  ask@immap.org</p>
    </div>
    <div class="">
     
    </div>
  </div>
</div>
<script>
  $(document).on('shown.bs.collapse', function (event) {
    //console.log( "in! print e: " +event.type);
    event.target.scrollIntoView();
  });
</script>

{% endblock content %}
