
<div class=" mt-5 second-item">
    <h5 class="text-center mb-5">
        All Departments
    </h5>
    <!-- search form starts -->
    <!-- <div class="row mt-3 mb-4">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="" class="form-control border-0 bg-dark d-flex" role="search">
                <input type="text" class="form-control" placeholder="search">
                <button class="btn bg-maroon rounded text-white mx-2"><i class="fa-solid fa-magnifying-glass fs-5"></i></button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div> -->
    <!-- search input ends -->
    <div class="container">
        <div class="row">
                <div class="col-md-4 shadow border border-secondary p-3 border-opacity-50">
                    <h5 class="text-center my-4">
                        Adding department
                    </h5>
                    
                    {% if temp %}
                    {% for tmp in temp %}
                        <form action="{% url 'taskmanager:adminDashboard' %}" class="form-control border-0 bg-dark text-white" method="POST">
                            {% csrf_token %}
                            <label  for="dept_name">Department Name</label>
                            <input type="text" value="{{tmp.name}}" class="form-control adInput text-light bg-dark" name="dept_name" id="dept_name"
                                placeholder="Name...">
                            <label class="mt-2" for="dept_head">Department head</label>
                            <input type="text" value="{{tmp.dept_head}}" class="form-control adInput text-light bg-dark" name="dept_head"
                                    id="dept_head" placeholder="Head...">
                            <label class="mt-2" for="dept_desc">Department description</label>
                            <input type="text" value="{{tmp.Description}}" class="form-control adInput text-light bg-dark" name="dept_desc" id="dept_desc"
                                placeholder="Description...">
                            <input type="text" value="{{op}}" name="operation" id="operation" hidden>
                            <input type="number" value="{{tmp.id}}" name="deptID" id="deptID" hidden>

                            <button type="submit" class="btn bg-maroon my-3 px-5 text-white">Update</button>
                        </form>
                    {% endfor %}
                        
                    {% else %}
                        <form action="{% url 'taskmanager:adminDashboard' %}" class="form-control border-0 bg-dark text-white" method="POST">
                            {% csrf_token %}
                            <label  for="dept_name">Department Name</label>
                            <input type="text" class="form-control adInput text-light bg-dark" name="dept_name" id="dept_name"
                                placeholder="Name...">
                            <label class="mt-2" for="dept_head">Department head</label>
                            <input type="text" class="form-control adInput text-light bg-dark" name="dept_head" id="dept_head"
                                    placeholder="Head...">
                            <label class="mt-2" for="dept_desc">Department description</label>
                            <input type="text" class="form-control adInput text-light bg-dark" name="dept_desc" id="dept_desc"
                                placeholder="Description...">
                                <input type="text" value="" name="operation" id="operation" hidden>
                                <input type="number" value="" name="deptID" id="deptID" hidden>
                            <button type="submit" class="btn bg-maroon my-3 px-5 text-white">ADD</button>
                        </form>
                    {% endif %}
                    
                </div>
                <div class="col-md-8 shadow border border-secondary p-3 border-opacity-50">
                    <h5 class="text-center my-4">List of Department</h5>
                    <ol class="list-group list-group-numbered ">
                        {% for dept in data %}
                        <li class="list-group-item border-bottom d-flex justify-content-between align-items-start bg-dark border-0 text-white">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{dept.name}}</div>
                                <small class="text-secondary">{{dept.Description}}</small>
                            </div>
                            <span class="mx-4">
                                <a href="{% url 'taskmanager:manageDept' dept.id 'edit' %}" class="nav-link">
                                    <i class="fa-regular fa-pen-to-square fs-6"></i>edit
                                </a>
                            </span>
                            <span class="mx-4">
                                <a href="{% url 'taskmanager:manageDept' dept.id 'Remove' %}" class="nav-link text-danger">
                                    <i class="fa-solid fa-trash-can fs-6"></i>Remove
                                </a>
                            </span>
                            {% endfor %}
                        </li>
                    </ol>
                </div>
        </div>

        <div class="my-5 d-flex justify-content-center">
            {% for value in no_stuff %}
                    <a class="nav-link" href="{% url 'taskmanager:getDetails' value.id %}" role="button">
                    <div class="border border-secondary border-opacity-50 m-2 shadow">
                        <div class="py-1">
                            <small class="fs-6 bg-maroon rounded-end-pill shadow px-3" id="all_staff">{{value.name}}</small>
                        </div>
                        <div class="px-3 py-2">
                            <small class="fs-6">{{value.num_user}} &nbsp;&nbsp;<i class="fa-solid fa-user-group"></i>&nbsp;Stuff Member</small>
                        </div>
                    </div>
                    </a>
            {% endfor %}  
        </div>
        
    </div>
</div>
                       