
<div class=" mt-5 second-item mb-5">
    <h5 class="text-center">
        All Stuff Members
    </h5>
    <!-- Search input start -->
    <div class="row mt-3 mb-4">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="{% url 'taskmanager:searchUser' %}" method="POST" class="form-control border-0 bg-dark d-flex" role="search">
                {% csrf_token %}
                <input type="text" name="stuff" id="stuff" class="form-control" placeholder="Enter the stuff first name to find...">
                <button type="submit" class="btn bg-maroon rounded text-white mx-2"><i class="fa-solid fa-magnifying-glass fs-5"></i></button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
    <!-- search input ends -->
    <div class="mt-5 mb-3">
        <span class="bg-success text-white fs-5 p-2 px-3  w-5 rounded-end-pill">
            <i class="fa-solid fa-user-check"></i>&nbsp;Active User 
        </span>
    </div>
    <div class="table">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Department</th>
                    <th scope="col">Manage</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for  stuff in data  %}
                    {% if stuff.is_active %}
                        <tr>
                            <th scope="row" id="stuff_id">{{stuff.id}}</th>
                            <td>{{stuff.get_full_name}}</td>
                            <td>{{stuff.email}}</td>
                            <td>{{stuff.department.department}}</td>
                            {% if stuff.is_staff %}
                            <td class="text-info">Not Permitted </td>
                            {% else %}
                            <td>
                                <a href="{% url 'taskmanager:user_profile' stuff.id %}" role="button" class="nav-link text-center d-inline ms-2">
                                    <i class="fa-solid fa-pen-to-square fs-5"></i>&nbsp;Edit
                               
                                <a class="nav-link text-center d-inline me-2" href="{% url 'taskmanager:deleteUser' stuff.id %}">
                                    <i class="fa-solid fa-trash-can fs-5"></i>&nbsp;Remove
                                </a>   
                            </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                    
                {% endfor %}
                
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center">
        <a href="{% url 'taskmanager:signup' %}" class="nav-link mx-3"><i class="fa-solid fa-plus"></i>&nbsp;Add
            Stuff</a>
        <a href="" class="nav-link mx-3"><i class="fa-regular fa-pen-to-square"></i>&nbsp;Update Stuff</a>
        <a href="" class="nav-link mx-3"><i class="fa-regular fa-pen-to-square"></i>&nbsp;Update Stuff</a>
    </div>
    
<hr>
    <div class="mt-5 mb-3">
    <span class="bg-warning text-dark fs-5 p-2 w-5 px-3 rounded-end-pill">
    <i class="fa-solid fa-user-clock "></i>&nbsp; Pending User
    </span>
    </div>
    <div class="table mb-5">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Department</th>
                    <th scope="col">status</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for stuff in data %}
                    {% if stuff.is_active == 0 %}
                        <tr>
                            <th scope="row">{{stuff.id}}</th>
                            <td>{{stuff.get_full_name}}</td>
                            <td>{{stuff.email}}</td>
                            <td>{{stuff.department.department}}</td>
                            {% if stuff.is_staff %}
                                <td class="text-info">Not Permitted </td>
                            {% else %}
                                <td>
                                    <a href="{% url 'taskmanager:approval' stuff.id %}" class="nav-link text-warning">
                                        <i class="fa-solid fa-clock fa-spin"></i>&nbsp; pending...
                                    </a>
                                </td>
                            {% endif %}
                        
                        </tr>
                    {% endif %}
                
                
                {% endfor %}
    
            </tbody>
        </table>
    </div>
</div>

