
<div class=" mt-5 second-item mb-5">
    <h5 class="text-center">
        All Stuff Members
    </h5>
    <!-- Search input start -->
    <div class="row mt-3 mb-4">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="{% url 'taskmanager:searchUser' %}" method="POST" class="form-control border-0 bg-dark d-flex" role="search">
                {% csrf_token %}
                <input type="text" name="stuff" id="stuff" class="form-control" placeholder="Enter the stuff first name to find...">
                <button type="submit" class="btn bg-maroon rounded text-white mx-2"><i class="fa-solid fa-magnifying-glass fs-5"></i></button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
    <!-- search input ends -->
    <!-- filter starts -->
    <span class="bg-maroon text-white py-2 px-3 rounded-end-pill">
        <a href="#collapseFilter" class="nav-link d-inline" data-bs-toggle="collapse">
            <i class="fa-solid fa-sliders"></i>&nbsp;Filter <span class="ms-3"><i class="fa-solid fa-sort"></i></span>
        </a>
    </span>
    <div class="collapse my-3 position-absolute z-3 " id="collapseFilter"> 
        <form class="filter-form" action="{% url 'taskmanager:appliedFilter' %}" method="POST">
            {% csrf_token %}
            <span class="fs-6 d-block text-opacity-0 bg-maroon rounded-top py-2 px-2">
                <i class="fa-solid fa-circle-info"></i>&nbsp;Filter the stuff by their department
                <hr class="ms-3 me-5">
            </span>
            <div class="form-check form-switch bg-maroon text-white rounded-bottom d-flex shadow" type=""> 
                    {% for val in dept_list %}
                    <span class="ms-3">
                        <input class="form-check-input p-2 rounded" name="department" type="checkbox" role="switch" id="department"
                            value="{{val.id}}"></span>
                    <span class="me-5">
                       <p class="form-check-label px-2 " for="department">{{val.department}}</p>
                    </span>
                    {% endfor %} 
            </div>
        </form>
        
    </div>
    <script>
        jQuery("input[type = 'checkbox']").change(function () {
            jQuery('.filter-form').submit();
        });
    </script>
    <!-- filter ends -->
    <div class="mt-5 mb-3">
        <span class="bg-success text-white fs-5 p-2 px-3  w-5 rounded-end-pill">
            <i class="fa-solid fa-user-check"></i>&nbsp;Active User 
        </span>
    </div>
    {% if filterMessage %}
    <div class="text-center mb-4">
        <span class=" bg-dark border border-secondary border-opacity-50 py-3 px-4 z-3 shadow">
            {% for f in filterMessage %}
                <p class="d-inline fs-5 shadow"><i class="fa-solid fa-tags"></i>&nbsp;{{f.Description}} Stuff</p>
                
            {% endfor %}
            
        </span>
    </div>
    {% endif %}
    <div class="table">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Department</th>
                    <th scope="col">Manage</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for  stuff in data  %}
                    {% if stuff.is_active %}
                        <tr>
                            <th scope="row" id="stuff_id">{{stuff.id}}</th>
                            <td>{{stuff.get_full_name}}</td>
                            <td>{{stuff.email}}</td>
                            <td>{{stuff.department.department}}</td>
                            {% if stuff.is_staff %}
                            <td class="text-info">Not Permitted </td>
                            {% else %}
                            <td>
                                <a href="{% url 'taskmanager:user_profile' stuff.id %}" role="button" class="nav-link text-center d-inline ms-2">
                                    <i class="fa-solid fa-pen-to-square fs-5"></i>&nbsp;Edit
                               
                                <a class="nav-link text-center d-inline me-2" href="{% url 'taskmanager:deleteUser' stuff.id %}">
                                    <i class="fa-solid fa-trash-can fs-5"></i>&nbsp;Remove
                                </a>   
                            </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                    
                {% endfor %}
                
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center">
        <a href="{% url 'taskmanager:signup' %}" class="nav-link mx-3"><i class="fa-solid fa-plus"></i>&nbsp;Add
            Stuff</a>
        <a href="" class="nav-link mx-3"><i class="fa-regular fa-pen-to-square"></i>&nbsp;Update Stuff</a>
        <a href="" class="nav-link mx-3"><i class="fa-regular fa-pen-to-square"></i>&nbsp;Update Stuff</a>
    </div>
    
<hr>
    <div class="mt-5 mb-3">
    <span class="bg-warning text-dark fs-5 p-2 w-5 px-3 rounded-end-pill">
    <i class="fa-solid fa-user-clock "></i>&nbsp; Pending User
    </span>
    </div>
    <div class="table mb-5">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Department</th>
                    <th scope="col">status</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for stuff in data %}
                    {% if stuff.is_active == 0 %}
                        <tr>
                            <th scope="row">{{stuff.id}}</th>
                            <td>{{stuff.get_full_name}}</td>
                            <td>{{stuff.email}}</td>
                            <td>{{stuff.department.department}}</td>
                            {% if stuff.is_staff %}
                                <td class="text-info">Not Permitted </td>
                            {% else %}
                                <td>
                                    <a href="{% url 'taskmanager:approval' stuff.id %}" class="nav-link text-warning">
                                        <i class="fa-solid fa-clock fa-spin"></i>&nbsp; pending...
                                    </a>
                                </td>
                            {% endif %}
                        
                        </tr>
                    {% endif %}
                
                
                {% endfor %}
    
            </tbody>
        </table>
    </div>
</div>

