{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Manager</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
  </head>
  <body  class="mb-0 pb-0">
    <!-- DISPLAY MESSAGE START-->
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success 
    text-center my-3 text-success position-absolute py-0 px-3 start-50 top-0 mt-5 translate-middle start-0 top-0 z-3"
      id="show-message">
      <i class="fa-solid fa-circle-check fs-1 text-success m-0 p-0"></i>
      <p class="m-0 p-0"><span class="fw-bold">Success: </span>{{message}}</p>
    </div>
    {% else %}
    
    <div class="alert alert-danger shadow border
     text-center position-absolute start-50 top-0 mt-5 translate-middle z-3 text-danger py-0 px-3" id="show-message">
      <i class="fa-solid fa-triangle-exclamation m-0 p-0"></i>
      <p class="m-0 p-0"><span class="fw-bold">Error: </span>{{message}}</p>
    </div>
    
    {% endif %}
    {% endfor %}
    <script>
      setTimeout(() => {
        document.getElementById("show-message").style.display = "none";
      }, 3000);
    </script>
    {% endif %}
    <!-- DISPLAY MESSAGE END -->
    {% include 'taskmanager/navbar.html' %} 
    
    {% block content%} 

    {% endblock content %} 
    
    {% include 'taskmanager/footer.html' %}
  </body>

</html>
