{% extends 'taskmanager/base.html' %} {% block content %} 
{%load static%}

<div class="row static-page">
  <!-- The menu starts form here -->
  <div class="col-md-2 shadow border col-sm-12 ">
    <!-- Mobild mode  -->
      <div class="d-md-none menu-handler d-lg-none d-sm-block mt-4" >
        <span class=" cursor-pointer">
          <i class="fa-solid fa-bars"></i>
          &nbsp;Menue
        </span>
      </div>
      <!-- mobile mode  -->
      <div class="menu-content d-sm-none d-lg-block d-md-block">
        <div class="p-3">
          <h5 class="text-secondary mt-5">Dashboard Menu</h5>
          {% if flag == 'all' %}
          <a href="{% url 'taskmanager:active_task' 'all' %}" class="nav-link">
            <div class="bright py-3 mt-3 text-light bg-maroon">
              <span class="p-2">All Tasks</span>
            </div>
          </a>
          {% else %}
          <a href="{% url 'taskmanager:active_task' 'all' %}" class="nav-link">
            <div class="py-3 mt-3 cl-effect-1">
              <span class="p-2">All Tasks</span>
            </div>
          </a>
          {% endif %} 
          {% if flag == 'active' %}
          <a class="nav-link" href="{% url 'taskmanager:active_task' 'active' %}">
            <div class="bright py-3 text-light bg-maroon">
              <span class="p-2">Active Tasks</span>
            </div></a
          >
          {% else %}
          <a class="nav-link" href="{% url 'taskmanager:active_task' 'active'%}">
            <div class="py-3 cl-effect-1">
              <span class="p-2">Active Tasks</span>
            </div></a
          >
          {% endif %} 
          {% if flag == 'c_task' %}
          <a class="nav-link" href="{% url 'taskmanager:active_task' 'c_task'%}">
            <div class="bright py-3 text-light bg-maroon">
              <span class="p-2">Completed Tasks</span>
            </div></a
          >
          {% else %}
          <a class="nav-link" href="{% url 'taskmanager:active_task' 'c_task'%}">
            <div class="py-3 cl-effect-1">
              <span class="p-2">Completed Tasks</span>
            </div></a
          >
          {% endif %} 
          {% if flag == 'e_task' %}
          <a class="nav-link" href="{% url 'taskmanager:active_task' 'e_task'%}">
            <div class="bright py-3 text-light bg-maroon">
              <span class="p-2">Expired Tasks</span>
            </div></a
          >
          {% else %}
          <a class="nav-link" href="{% url 'taskmanager:active_task' 'e_task'%}">
            <div class="py-3 cl-effect-1">
              <span class="p-2">Expired Tasks</span>
            </div></a
          >
          {% endif %} 
          {% if flag == 'm_task' %}
          <a class="nav-link" href="{% url 'taskmanager:active_task' 'm_task'%}">
            <div class="bright py-3 text-light bg-maroon">
              <span class="p-2">Your Assigned Task</span>
            </div></a
          >
          {% else %}
          <a class="nav-link" href="{% url 'taskmanager:active_task' 'm_task'%}">
            <div class="py-3 cl-effect-1">
              <span class="p-2">Your Assigned Task</span>
            </div></a
          >
          {% endif %}
        </div>
      </div>
  </div>
  
  <div class="col-md-8 shadow border col-sm-12">
    <div class="row">
      <div class="d-flex justify-content-center mt-5">
        <h5 class="text-secondary">Your Tasks Dashboard</h5>
      </div>
      {% if my_user.get_full_name == '' %}
      <h6 class="text-primary text-center"><i class="fa-solid fa-user-tie"></i> &nbsp; Administrator</h6>
      {% else %}
      <h6 class="text-primary mt-0 text-center mb-4">
        {{my_user.get_full_name}}&nbsp;
        <i class="fa-solid fa-chalkboard-user"></i>
      </h6>
      {% endif %}
    </div>
    <!-- task card starts -->
    <div class="row my-5"> 
      {% if tasks %}
      
        <table class="table table-static">
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Task</th>
                <th scope="col">Status</th>
                <th scope="col">Assigned To</th>
                <th scope="col">Assigned By</th>
                <th scope="col">Comments</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}  
              <tr>
                  <td scope="row" >{{forloop.counter}}</td>
                  <td class="w-50  position-relative">
                      <div class="expand-row" style="width: auto; overflow:hidden; height: 20px;">
                          {{task.task_desc}}
                      </div>
                  </td>
                  <td class="text-white">
                      {% if task.status == 0 %}
                      <span class="border bg-primary border-primary rounded-pill px-2 py-1 " id="inProgress">
                          <i class="fa-solid fa-circle-notch fa-spin"></i>
                          &nbsp;in progress
                      </span>
                      {% elif task.status == 1 %}
                      <span class="border border-success bg-success rounded-pill px-2 py-1 " id="Done">
                          <i class="fa-solid fa-clock"></i>
                          &nbsp;Done
                      </span>
                      {% else %}
                      <span class="border border-secondary bg-secondary rounded-pill px-2 py-1 " id="notStarted">
                          <i class="fa-solid fa-clock"></i>
                          &nbsp;not started
                      </span>
                      {% endif %}
                  </td>
                  <td >{{task.assign_to.get_full_name}}</td>
                  <td >{{task.assign_by.get_full_name}}</td>
                  <td>{{task.comments_set}}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      
      {% else %}
          <div class="text-center my-5 text-secondary">
              <h1 class="empty-folder"><i class="fa-regular fa-folder-open"></i></h1>
              <h3 class="fw-bold">Oops... ! No Record Found.&nbsp;<i class="fa-solid fa-chart-simple"></i></h3>
          </div>
      {% endif %}
      </div>
    </div>
  <!-- collapse Example for evaluation -->
  <div class="col-md-2 col-sm-12 d-sm-none border d-lg-block d-md-block shadow py-4">
    <div class="my-3">
      <h5 class="text-center text-muted ">Comment Received </h5>
      {% if all_comment %}
        <div class="list-group my-4">
        {% for comment in all_comment %} 
          {% if comment.task.assign_by.is_staff == 1 %}
            <table>
              <tr>
                <td style="vertical-align: top;" class="p-2"><i class="fa-solid fa-user-tie fs-3 shadow"></i></td>
                <td>
                  <span class="list-group-item p-3 rounded bg-dark text-light shadow">
                    <small class="fw-bold d-block">Administrator&nbsp;<i class="fa-solid fa-pencil"></i></small>
                    <small>{{comment.comment}}</small>
                  <p class="mb-0 pb-0 mt-2"><small class="fw-bold">on completion of:</small></p>
                  <span class="fw-bold com_text text-warning"> {{comment.task.task_name}}</span>
                  </span>
                </td>
              </tr>
            </table>
          {% else %}
            <table>
              <tr>
                <td class="p-2 user-avatar"><img class="shadow rounded-circle" src="{{comment.task.assign_by.profile.image.url}}" alt="" width="30px" height="30px"></td>
                <td>
                  <span class="list-group-item p-3 rounded bg-dark shadow">
                    <small class="fw-bold d-block text-light">{{comment.task.assign_by.get_full_name}}&nbsp;<i class="fa-solid fa-pencil"></i></small>
                    <small class="text-light">{{comment.comment}}</small>
                    <p class="mb-0 pb-0 mt-2 text-light"><small class="fw-bold">on completion of:</small></p>
                    <span class="fw-bold com_text text-warning"> {{comment.task.task_name}}</span>
                  </span>
                </td>
              </tr>
            </table>
          {% endif %}
        {% endfor %}
        </div>
      {% else %}
        <div class="mx-2 rounded bg-light border text-center">
          <h1 class="text-muted">
            <i class="fa-solid fa-comment-slash"></i>
            <span class="font-size d-block">No Comment</span>
          </h1>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<script>
  const menuHandler = document.querySelector(".menu-handler").addEventListener('click', function(){
  let menuContent = document.querySelector(".menu-content");
  menuContent.classList.toggle("d-sm-none");
  });
</script>

{% endblock content %}
