{% extends 'taskmanager/base.html' %} {% block content %} 
{%load static%}

<div class="row my-5">
<!-- The menu starts form here -->
  <div class="col-2 shadow border">
    <div class="p-3">
      <h5 class="text-secondary mt-5">Dashboard Menu</h5>
      {% if flag == 'all' %}
      <a href="{% url 'taskmanager:active_task' 'all' %}" class="nav-link">
        <div class="bright py-3 mt-3 text-light bg-maroon">
          <span class="p-2">All Tasks</span>
        </div>
      </a>
      {% else %}
      <a href="{% url 'taskmanager:active_task' 'all' %}" class="nav-link">
        <div class="py-3 mt-3 cl-effect-1">
          <span class="p-2">All Tasks</span>
        </div>
      </a>
      {% endif %} 
      {% if flag == 'active' %}
      <a class="nav-link" href="{% url 'taskmanager:active_task' 'active' %}">
        <div class="bright py-3 text-light bg-maroon">
          <span class="p-2">Active Tasks</span>
        </div></a
      >
      {% else %}
      <a class="nav-link" href="{% url 'taskmanager:active_task' 'active'%}">
        <div class="py-3 cl-effect-1">
          <span class="p-2">Active Tasks</span>
        </div></a
      >
      {% endif %} 
      {% if flag == 'c_task' %}
      <a class="nav-link" href="{% url 'taskmanager:active_task' 'c_task'%}">
        <div class="bright py-3 text-light bg-maroon">
          <span class="p-2">Completed Tasks</span>
        </div></a
      >
      {% else %}
      <a class="nav-link" href="{% url 'taskmanager:active_task' 'c_task'%}">
        <div class="py-3 cl-effect-1">
          <span class="p-2">Completed Tasks</span>
        </div></a
      >
      {% endif %} 
      {% if flag == 'e_task' %}
      <a class="nav-link" href="{% url 'taskmanager:active_task' 'e_task'%}">
        <div class="bright py-3 text-light bg-maroon">
          <span class="p-2">Expired Tasks</span>
        </div></a
      >
      {% else %}
      <a class="nav-link" href="{% url 'taskmanager:active_task' 'e_task'%}">
        <div class="py-3 cl-effect-1">
          <span class="p-2">Expired Tasks</span>
        </div></a
      >
      {% endif %} 
      {% if flag == 'm_task' %}
      <a class="nav-link" href="{% url 'taskmanager:active_task' 'm_task'%}">
        <div class="bright py-3 text-light bg-maroon">
          <span class="p-2">Your Assigned Task</span>
        </div></a
      >
      {% else %}
      <a class="nav-link" href="{% url 'taskmanager:active_task' 'm_task'%}">
        <div class="py-3 cl-effect-1">
          <span class="p-2">Your Assigned Task</span>
        </div></a
      >
      {% endif %}
    </div>
  </div>

  <div class="col-8 shadow border">
    <div class="row">
      <div class="d-flex justify-content-center mt-5">
        <h5 class="text-secondary">Your Tasks Dashboard</h5>
      </div>
      {% if request.user.get_full_name == '' %}
      <h6 class="text-primary text-center"><i class="fa-solid fa-user-tie"></i> &nbsp; Administrator</h6>
      {% else %}
      <h6 class="text-primary mt-0 text-center mb-4">
        {{request.user.get_full_name}}&nbsp;
        <i class="fa-solid fa-chalkboard-user"></i>
      </h6>
      {% endif %}
      
    </div>
    <!-- task card starts -->
    <div class="row">    
      {% if tasks %}
        {% for task in tasks %}
          <div class="col-6">
            <!--the card design starts-->
            {% if task.status == 1 %} 
              <div class="card shadow my-2 border border-success border-2">
            {% elif task.status == -1 %}
                <div class="card shadow my-2 border border-danger border-2">
            {% elif task.status == 80 or task.status == 50 %}
                <div class="card shadow my-2 border border-warning border-2">
            {% elif task.status == 100 %}
              <div class="card shadow my-2 border border-primary border-2">
            {% else %}
              <div class="card shadow my-2 border border-secondary border-opacity-50">
            {% endif %}
            <!-- the card design ends-->
              <div class="card-header bg-white">
                <p class="fw-bold pt-3">{{task.task_name}}</p>
              </div>
              <div class="card-body scrollable">
                <p>{{task.task_desc}}</p>
                <div class="fs-6">
                  <small class="me-5"><b>Start Date: </b><i class="fa-solid fa-calendar-day"></i> &nbsp;{{task.start_date}}</small>
                  <small class=" ms-5"><b>Dead line: <i class="fa-regular fa-calendar"></i>&nbsp; </b>{{task.end_date}}</small>
                  <p>
                    
                    {% if task.assign_by.is_staff%}
                      <b>Assigned By: </b>
                    <span class="text-primary">Administrator</span>
                    {% elif task.assign_by_id == request.user.id %}
                      <b>Assigned To: </b>
                      {{task.assign_to.get_full_name}}
                    {% else %}
                      <b>Assigned By: </b>
                      {{task.assign_by.get_full_name}}
                    {% endif %}
                  </p>
                </div>
              </div>
              <div class="card-footer bg-white">
                <span class="fw-bold">Status: </span>
                {% if task.status == -1 and task.assign_by_id == request.user.id %}
                 Expired&nbsp;<i class="fa-solid fa-circle-info text-warning"></i>
                <a href="{% url 'taskmanager:evaluation' task.id 'RT' %}" class="nav-link btn text-light bg-maroon py-2 px-3 shadow my-2">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i> &nbsp; Evaluate
                </a>
                {% elif task.status == -1 and task.assign_by_id != request.user.id %}
                <p class="">
                  <i class="fa-solid fa-circle-info text-warning fs-5"></i> Expired
                </p>
                {% elif task.status == 1 and task.assign_by_id == request.user.id %}
                
                   Active&nbsp;<i class="fa-solid fa-circle text-success"></i>
                  <a href="{% url 'taskmanager:manageTask' task.id 'Remove' %}" class="nav-link btn text-light bg-maroon py-2 px-3 shadow my-2">Cancel</a>
               
                {% elif task.status == 1 and task.assign_by_id != request.user.id %}
                <p class="p-0 m-0 d-inline">
                  <span class="text-success">Active</span>&nbsp;
                  <i class="fa-solid fa-circle text-success"></i>
                  <span class="d-flex justify-content-start">
                    <a href="{% url 'taskmanager:update_tasks' task.id 'start' %}" class="nav-link bg-maroon text-light py-2 px-3 shadow btn my-2">start</a>
                  </span>
                </p>
                {% elif task.status == 50 and task.assign_by_id == request.user.id %}
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100" style="width:50%">
                    50% completed
                  </div>
                </div>
                {% elif task.status == 50 and task.assign_by_id != request.user.id %}
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100" style="width:50%">
                    50% completed
                  </div>
                </div>
                  <span class="d-flex justify-content-start">
                    <a href="{% url 'taskmanager:update_tasks' task.id 'done' %}" class="nav-link bg-maroon text-light py-2 px-3 shadow btn my-2">complete</a>
                  </span>
                {% elif task.status == 80 and task.assign_by_id == request.user.id %}
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                      aria-valuemax="100" style="width:80%">
                      80% completed
                    </div>
                  </div>
                  <span class="d-flex justify-content-start">
                    <a href="{% url 'taskmanager:evaluation' task.id 'CT' %}" class="nav-link bg-maroon text-light py-2 px-3 shadow btn my-2">
                      <i class="fa-regular fa-circle-check"></i>&nbsp;Confirm</a>
                  </span>
                {% elif task.status == 80 and task.assign_by_id != request.user.id %}
                <p>
                  <i class="fa-solid fa-arrows-spin fa-spin text-primary fs-5"></i>&nbsp; confirming...
                </p>
                {% elif task.status == 100 %}
                <p class="text-success">
                  <i class="fa-solid fa-circle-check"></i>&nbsp; Completed
                </p>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      <!-- task card ends -->
      {% else %}
          <div class="text-center my-5 text-secondary">
            <h1 class="empty-folder"><i class="fa-regular fa-folder-open"></i></h1>
            <h3 class="fw-bold">Oops... ! No Record Found.&nbsp;<i class="fa-solid fa-chart-simple"></i></h3>
        </div>
      {% endif %} 
    </div>
  </div>
  <!-- collapse Example for evaluation -->
  <div class="col-2 border shadow py-4">
    <div class="my-3">
      <h5 class="text-center text-muted ">Comment Received </h5>
      {% if all_comment %}
        <div class="list-group my-4">
        {% for comment in all_comment %} 
          {% if comment.task_id.assign_by_id.get_full_name == none %}
            <table>
              <tr>
                <td style="vertical-align: top;" class="p-2"><i class="fa-solid fa-user-tie fs-3 shadow"></i></td>
                <td>
                  <span class="list-group-item p-3 rounded bg-dark text-light shadow">
                    <small class="fw-bold d-block">Administrator&nbsp;<i class="fa-solid fa-pencil"></i></small>
                    <small>{{comment.comment}}</small>
                  <p class="mb-0 pb-0 mt-2"><small class="fw-bold">on completion of:</small></p>
                  <span class="fw-bold com_text text-warning"> {{comment.task.task_name}}</span>
                  </span>
                </td>
              </tr>
            </table>
          {% else %}
            <table>
              <tr>
                <td style="vertical-align: top;" class="p-2"><img class="shadow" src="{{user.profile.image.url}}" alt=""></td>
                <td>
                  <span class="list-group-item p-3 rounded bg-dark shadow">
                    <small class="fw-bold d-block text-light">{{comment.task_id.assign_by.get_full_name}}&nbsp;<i class="fa-solid fa-pencil"></i></small>
                    <small class="text-light">{{comment.comment}}</small>
                    <p class="mb-0 pb-0 mt-2 text-light"><small class="fw-bold">on completion of:</small></p>
                    <span class="fw-bold com_text text-warning"> {{comment.task.task_name}}</span>
                  </span>
                </td>
              </tr>
            </table>
          {% endif %}
        {% endfor %}
        </div>
      {% else %}
        <div class="mx-2 rounded bg-light border text-center">
          <h1 class="text-muted">
            <i class="fa-solid fa-comment-slash"></i>
            <span class="font-size d-block">No Comment</span>
          </h1>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
