 {% load static %} 
 {% block content %}
<div class="footer border bg-light p-5">
  <p class="text-center text-white">&copy; 2023 all right reserved</p>
  <div class="text-center">
    <small class="font-size text-light">Join us on social media</small><br>
    <span><i class="fa-brands fa-facebook text-primary social-media mx-3 shadow "></i></span>
    <span class="text-info social-media me-3"><i class="fa-brands fa-square-x-twitter shadow "></i></span>
    <span class="text-danger social-media me-3"><i class="fa-brands fa-youtube shadow "></i></span>
    <span class="text-light social-media me-3"><i class="fa-brands fa-instagram shadow "></i></span>
    <span class="text-danger social-media"><i class="fa-solid fa-envelope shadow "></i></span>
  </div>
</div>
{% endblock content %}
