{% extends 'taskmanager/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class=" mt-5">
    
            <a class="link-light fs-3 link-underline-opacity-0 d-inline-block shadow border-animation-2 py-3 px-1 rounded-circle" href="{% url 'home'%}">&nbsp;&nbsp;&nbsp;
            <i class="fa-solid fa-gears"></i>
            <small class="font-size d-block mx-2">Task Manager</small></a>
       
    </div>
<h1 class="fw-light mt-5">
    Privacy and Policy
</h1>
<small class="text-muted">Last Modified {{today}}</small>
<h3 class="heading">Introduction</h3>
<div class="text">
<p>
    Taskmanager respects your privacy and is committed to protecting it through compliance with
    this Privacy Policy.</p>
    <p>
    This Policy describes the types of information we may collect from you or that you may provide when you visit the
    website <a href="www.gmicompanies.com" class="link-primary link-underline-opacity-0">www.gmicompanies.com</a> , 
    <a href="www.ghent.com" class="link-primary link-underline-opacity-0">www.ghent.com</a>,
    <a href="www.waddellfurniture.com" class="link-primary link-underline-opacity-0">www.waddellfurniture.com</a>, and 
    <a href="www.vividboard.com" class="link-primary link-underline-opacity-0">www.vividboard.com</a> (collectively, our
    “Websites” or the “Website”) and our practices for collecting, using, maintaining, protecting, and disclosing that
    information.</p>
    <p>
    This Policy applies to information we collect:
    On this Website, which includes the other websites operated by Company and any of our brands (Ghent, Waddell, and
    VividBoard);
    In email, text, and other electronic messages between you and this Website.
    It does not apply to information collected by:
    Us offline or through any other means; or
    Any third party, including through any application or content (including advertising) that may link to or be accessible
    from or on the Website.</p>
    
    <p>
    Please read this Policy carefully to understand our policies and practices regarding your information and how we will
    treat it. If you do not agree with our policies and practices, your choice is not to use our Website. By accessing or
    using this Website, you agree to this Policy. This Policy may change from time to time (see Changes to Our Privacy
    Policy). Your continued use of this Website after we make changes is deemed to be acceptance of those changes, so please
    check the Policy periodically for updates.
</p>
<h3 class="text-heading">
    Information We Collect About You and How We Collect It
</h3>
<p>
    We collect several types of information from and about users of our Website, including information:
    By which you may be personally identified, such as name, postal address, e-mail address, telephone number, or any other
    identifier by which you may be contacted online or offline (“personal information”);
    That is about you but individually does not identify you, such as IP address; and/or
    About your internet connection, the equipment you use to access our Website, and usage details.
</p>
<p>
    We collect this information:
    Directly from you when you provide it to us;
    Automatically as you navigate through the site. Information collected automatically may include usage details, IP
    addresses, and information collected through cookies, web beacons, and other tracking technologies; and/or
    From third parties, for example, our business partners.
</p>
<h3 class="heading">
    How We Use Your Information
</h3>
<p>
    We use information that we collect about you or that you provide to us, including any personal information:
</p>
<ul>
    <li>To present our Website and its contents to you;</li>
    <li>To provide you with information, products, or services that you request from us;</li>
    <li>To fulfill any other purpose for which you provide it;</li>
    <li>To carry out our obligations and enforce our rights arising from any contracts entered into between you and us,</li>
    <li>including for billing and collection;</li>
    <li>To notify you about changes to our Website or any products or services we offer or provide though it;</li>
    <li>To allow you to participate in interactive features on our Website;</li>
    <li>In any other way we may describe when you provide the information; and/or</li>
    <li>For any other purpose with your consent.</li>
</ul>
<p>
    We may also use your information to contact you about goods and services that may be of interest to you. If you do not
    want us to use your information in this way, please check the relevant box located on the form on which we collect your
    data. For more information, see Choices About How We Use and Disclose Your Information.
</p>
</div>
</div>
{% endblock content %}