{% extends 'taskmanager/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-4"></div>
        <div class="col-md-4 py-5 my-5">
            <h3 class="fw-light my-5 text-center">Reset Your Password</h3>
            <form action="{% url 'taskmanager:resetPassword' %}" method="POST" class="border-0 form-control">
                {% csrf_token %}
                <label class="" for="new_password">Enter your new password</label>
                <input type="password" name="new_password" id="new_password" class="form-control shadow-none py-2" placeholder="New Password" required>
                <label for="confirm_pass" class="my-2">Re-enter your password</label>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control shadow-none py-2" placeholder="Confirm Password" required>
                <input type="number" name="uid" id="uid" value="{{user_id}}" class="form-control" hidden>
                <small class="text-muted"><i class="fa-solid fa-circle-info"></i>&nbsp;Set a strong password as you new password.</small>
                <button type="submit" class="btn bg-maroon mt-5 px-2 text-white">Change Password</button>
                <span class="text-danger d-block">Note:
                    <small class="text-primary text-center">
                        Your new password should not be the same as old password.
                    </small>
                </span>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
    </div>
</div>
{% endblock content %}