
<div class="container">
    <div class="my-5 text-center">
        <h5 class="d-inline shadow px-3 py-2"><i class="fa-solid fa-tags me-2"></i>&nbsp;Summery of Tasks</h5>
    </div>
    <div class="mx-3 d-flex justify-content-center text-white">
        <div class="border border-secondary border-opacity-50 px-4 py-2 fs-3 shadow mx-2 z-3">
            <span class="d-block text-center">{{job.task_count}}</span>
            <small class="fs-6"><i class="fa-solid fa-briefcase"></i> &nbsp;Total Tasks</small>
        </div>
        <div class="border border-secondary border-opacity-50 px-4 py-2 fs-3 shadow mx-2 z-3">
            <span class="d-block text-center">{{job.d_list}}</span>
            <small class="fs-6"><i class="fa-solid fa-puzzle-piece"></i>&nbsp;Total Department</small>
        </div>
        <div class="border border-secondary border-opacity-50 px-4 py-2 fs-3 shadow mx-2 z-3">
            <span class="d-block text-center">{{job.user_count}}</span>
            <small class="fs-6"><i class="fa-solid fa-users-line"></i></i>&nbsp;Total User</small>
        </div>
    </div>
    <div class="my-3">
        <p class="text-light fw-light fs-6 text-center">
            <i class="fa-solid border border-secondary border-opacity-50 rounded-circle p-2 fa-gears shadow"></i>&nbsp;
            The Number of Tasks, Department and Users are counted by the system are 100% accurate.
        </p>
    </div>
    <hr>
    <div class=" my-4">
        <h5 class="d-inline shadow px-3 py-2"><i class="fa-solid fa-tags me-2"></i>&nbsp;Tasks Details</h5>
    </div>
    <div class="mx-3 d-flex justify-content-center text-white">
        <div class="border border-secondary border-opacity-50 px-4 py-2 fs-3 shadow mx-2 z-3">
            <span class="d-block text-center">{{job.comp}}</span>
            <small class="fs-6"><i class="fa-solid text-success fa-circle-check"></i>&nbsp;Completed Tasks</small>
        </div>
        <div class="border border-secondary border-opacity-50 px-4 py-2 fs-3 shadow mx-2 z-3">
            <span class="d-block text-center">{{job.active}}</span>
            <small class="fs-6"><i class="fa-regular text-info fa-circle-dot"></i>&nbsp;Active Tasks</small>
        </div>
        <div class="border border-secondary border-opacity-50 px-4 py-2 fs-3 shadow mx-2 z-3">
            <span class="d-block text-center">{{job.pro}}</span>
            <small class="fs-6">In Progress Tasks</small>
            <div class="progress rounded-0" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar bg-primary text-white" style="width: 50%">50%</div>
            </div>
        </div>
        <div class="border border-secondary border-opacity-50 px-4 py-2 fs-3 shadow mx-2 z-3">
            <span class="d-block text-center">{{job.wait}}</span>
            <small class="fs-6"><i class="fa-solid fa-spinner fa-spin-pulse"></i>&nbsp;Confirming Tasks</small>
            <div class="progress rounded-0" role="progressbar" aria-label="Info example" aria-valuenow="80" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar bg-info text-dark" style="width: 80%">80%</div>
        </div>
        </div>
        <div class="border border-secondary border-opacity-50 px-4 py-2 fs-3 shadow mx-2 z-3">
            <span class="d-block text-center">{{job.exp}}</span>
            <small class="fs-6"><i class="fa-solid text-danger fa-circle-xmark"></i>&nbsp;Expired Tasks</small>
        </div>
    </div>
    <div class="my-5">
        <p class="text-center fw-light fs-6">
            <i class="fa-solid border border-secondary border-opacity-50 rounded-circle p-2 fa-gears shadow"></i>&nbsp;
            The tasks details generated by the system are dynamic.
        </p>
    </div>
    <hr>
    <div class="my-4">
        <h5 class="d-inline shadow px-3 py-2"><i class="fa-solid fa-tags me-2"></i>&nbsp;Department wise Tasks Details</h5>
        <div class="mx-3 d-flex justify-content-center text-white my-5">
            {% for val in dept_task  %}
                <div class="border-animation pe-4 py-2 shadow mx-2 z-3">
                    <span class="fs-6 border-animation  px-2 rounded-end-pill shadow bg-maroon ">
                        <i class="fa-solid fa-puzzle-piece"></i>&nbsp;{{val.name}}</span>
                    <small class="px-2 m-0 text-center fs-xsm  d-block">{{val.Description}}</small>
                    <small class="fs-6 px-2">
                        <i class="fa-solid fa-briefcase"></i> &nbsp;
                        {{val.task_count}} task
                    </small>
                </div>
            {% endfor %}
    </div>
    <div class="text-center fs-6 my-5">
        
        <p class="fw-light">
            <i class="fa-solid border border-secondary border-opacity-50 rounded-circle p-2 fa-gears shadow"></i>&nbsp;
            The department wise tasks are calculated by the system and all the displayed data are dynamic.
        </p>
    </div>
</div>
